<!DOCTYPE html>
<html ng-app="AngularQuest">
<head>
	<title>Angular - Data-binding</title>
	<link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	
	<div class="card-panel black">

		<!-- Binding -->
		<div class="card-panel teal lighten-2, panel">
			<h3>
				<span class="white-text text-darken-2">Binding</span>
			</h3>
			<input type="text" ng-model="message">
		</div>

		<!-- Binding Using Brackets -->
		<div class="card-panel light-green lighten-1, panel">
			<h3><span class="blue-text text-darken-2">Binding Using Brackets</span></h3>
			<input type="text" ng-model="message">
			<p>{{ message }}</p>
		</div>

		<!-- Binding Using ng-bind -->
		<div class="card-panel orange lighten-1, panel">
			<h3>
				<span class="grey-text text-lighten-2">Binding Using ng-bind</span>
			</h3>
			<h4 ng-bind="'Binding ' + message"></h4>
			<input type="text" ng-model="message" ng-init="message = 'hello'">
			<p ng-bind="message"></p>
			<p ng-bind="message + message"></p>
			<p ng-bind="::message === 'hello'"></p>
			<p ng-bind="1 + 2"></p>
		</div>

		<!-- One-Time Binding -->
		<div class="card-panel yellow lighten-1, panel">
			<h3>
				<span class="green-text text-darken-2">One-Time Binding</span>
			</h3>
			<h4 ng-bind="'Binding ' + message"></h4>
			<input type="text" ng-model="message" ng-init="message = 'hello'">
			<p ng-bind="::message === 'hello'"></p>
		</div>

		<!-- ng-repeat Binding -->
		<div class="card-panel grey lighten-2, panel">
			<h3>
				<span class="red-text text-darken-2">ng-repeat Binding</span>
			</h3>
			<div ng-controller="griffinCtrl">
				<div>
					<h5 ng-repeat="member in griffin">
						{{ member.firstname }} {{ member.lastname }}
					</h5>
				</div>
			</div>
		</div>

	</div>

</body>
	<script type="text/javascript" src=node_modules/angular/angular.min.js></script>
	<script type="text/javascript" src=node_modules/jquery/dist/jquery.min.js></script>
	<script type="text/javascript" src=node_modules/materialize-css/dist/js/materialize.min.js></script>
	<script type="text/javascript" src=app.js></script>
</html>
